@font-face {
  font-family: "softengi";
  src: url("../fonts/icons/softengi.woff");
  src: url("../fonts/icons/softengi.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Avenir Book";
  src: url("../fonts/avenir/Avenir-Book.woff");
  src: url("../fonts/avenir/Avenir-Book.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: "softengi";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow:before {
  content: '\e800'; }

.icon-download:before {
  content: '\e801'; }

.icon-exchange-icon:before {
  content: '\e802'; }

.icon-log-out:before {
  content: '\e803'; }

.icon-notifications:before {
  content: '\e804'; }

body, html {
  height: 100%;
  width: 100%;
  margin: 0; }

body {
  font-family: 'Avenir Book', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
  background-color: #eaf0f3; }

.clearfix:after, .row:after {
  content: '';
  display: table;
  clear: both; }

.row {
  margin: 0 -12px; }

.col, .col-7, .col-6, .col-4, .col-offset-1 {
  float: left;
  padding: 0 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-7 {
  width: 58.333%; }

.col-6 {
  width: 50%; }

.col-4 {
  width: 33.333%; }

.col-offset-1 {
  margin-left: 8.333%; }

.list, .nav__list, .tab-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.link, .logo__link, .nav__link, .tab-list__link {
  text-decoration: none;
  color: inherit; }
  .link:hover, .logo__link:hover, .nav__link:hover, .tab-list__link:hover {
    cursor: pointer; }

.title {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  color: #9797a4; }

.container {
  width: 1116px;
  margin: 0 auto; }

.table {
  margin-top: 30px; }

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: -1; }

.header {
  padding: 32px 50px 0 55px;
  color: #fff; }
  .header__logo {
    float: left;
    font-size: 1.667em;
    font-weight: bold; }
  .header__nav {
    float: right; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  padding-left: 45px;
  font-weight: bold; }

.nav__link_active {
  position: relative; }
  .nav__link_active:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    width: 6px;
    height: 6px;
    background-color: #fa6d74;
    border: solid 2px #504ead;
    -webkit-border-radius: 50%;
    border-radius: 50%; }

.nav__icon {
  font-size: 1.333em;
  padding-left: 3px; }

.icon_dark {
  color: #9390dc; }

.top-form {
  margin: 50px 0 55px;
  color: #fff;
  text-align: right; }
  .top-form * {
    display: inline-block;
    vertical-align: middle; }

.input {
  display: inline-block;
  width: 69px;
  color: #fff;
  font-size: 1.833em;
  text-align: center;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6); }
  .input:focus {
    outline: none; }

.form {
  text-align: left; }

.select {
  position: relative;
  margin: 0 25px; }

.select-styled {
  display: inline-block;
  padding: 4px 31px 4px 15px;
  color: #fff;
  font-size: 1.083em;
  letter-spacing: 0.5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.3);
  cursor: pointer; }
  .select-styled:before {
    content: '\e800';
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: .4em;
    font-family: "softengi"; }

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: inherit;
  cursor: pointer; }

.select-hidden {
  display: none; }

.select-options li[rel="hide"] {
  display: none; }

.select-options li {
  display: block;
  margin: 0;
  padding: 5px 25px 5px 15px;
  font-size: 1.083em;
  background-color: #8363b7;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in; }

.lbl {
  font-size: 1.167em;
  opacity: .6; }

.form-group {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 70px;
  padding-right: 45px; }

.summ {
  margin-right: 25px; }
  .summ__text {
    display: block;
    color: #fff;
    opacity: .6; }
  .summ__value {
    display: inline-block;
    font-size: 1.667em;
    font-weight: bold;
    vertical-align: bottom; }
  .summ__currency {
    font-size: 0.7em;
    text-transform: uppercase; }

.btn {
  position: relative;
  display: inline-block;
  padding: 8px 25px;
  color: #2a2a44;
  font-size: 1.083em;
  font-weight: bold;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  background-color: linear-gradient(to bottom, #f1f1ff, #ffffff);
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer; }
  .btn__icon {
    font-size: 1.8em;
    color: #9a98e2; }

.main {
  display: block;
  padding-bottom: 67px;
  margin-bottom: 30px;
  background: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.transactions {
  margin-bottom: 30px; }
  .transactions__title {
    float: left; }
  .transactions__header {
    padding: 41px 57px 0;
    margin-bottom: 25px; }

.tab-list {
  float: right; }
  .tab-list__item {
    display: inline-block;
    margin: 0 12px;
    padding: 0 5px 10px;
    color: #bdbebf;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .tab-list__item_active {
      color: #000;
      border-bottom: solid 1px #9795e4; }

#line {
  width: 100% !important;
  height: 250px !important;
  margin-bottom: 30px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-image: -webkit-linear-gradient(201deg, #8e78ff, #fc7d7b);
  background-image: linear-gradient(249deg, #8e78ff, #fc7d7b);
  -webkit-box-shadow: 0px 24px 17px -22px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 24px 17px -22px rgba(0, 0, 0, 0.35); }

.card {
  width: 100%;
  padding: 10px 0 14px;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 4px 6px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 4px 6px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .card__info {
    display: inline-block;
    vertical-align: middle; }
  .card__img {
    display: inline-block;
    padding-right: 15px;
    vertical-align: middle; }
  .card__text {
    color: #30304d;
    font-size: 0.833em;
    letter-spacing: 0.4px;
    text-transform: uppercase; }
  .card__pic {
    width: 32px;
    height: auto; }

.currency {
  padding-right: 5px;
  color: #acacb8;
  font-size: 1.167em; }

.value {
  font-size: 2em;
  font-weight: bold; }

.symbol {
  font-size: 1.4em;
  font-weight: bold; }

.section {
  margin-top: 57px;
  margin-left: -24px; }

.flag-pic {
  display: inline block;
  vertical-align: middle;
  width: 20px;
  height: auto;
  margin-right: 10px; }

.table {
  width: 80%; }
  .table__th {
    display: block;
    color: #c0c0c7;
    padding: 15px 0;
    white-space: nowrap;
    font-weight: bold;
    text-align: left;
    border-bottom: solid 1px rgba(111, 109, 204, 0.1); }
    .table__th_center {
      text-align: center; }
  .table__td {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    font-size: 1.167em;
    text-align: left;
    vertical-align: middle; }
    .table__td_center {
      text-align: center; }
  .table__icon {
    padding-left: 5px;
    font-size: .4em;
    font-weight: bold;
    color: #2a2a44;
    vertical-align: middle; }
  .table__flag {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: left;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .table__currency {
    font-size: 0.917em;
    padding-right: 10px; }
  .table__val {
    display: inline-block;
    padding: 0 8px;
    font-size: 1.083em;
    color: #8b8b9a; }
    .table__val_light {
      color: #d4d4d9; }
    .table__val_down {
      position: relative; }
      .table__val_down:before {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 3px solid #f96d74; }
    .table__val_up {
      position: relative; }
      .table__val_up:before {
        content: '';
        display: block;
        position: absolute;
        top: 9px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 3px solid #7edb8f; }
